@charset "UTF-8";
/*css file*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Oswald');

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
	-webkit-animation-duration: 2s;
}


.text-animate{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	height: 55px;
}

.text-animate ul{
	-webkit-animation: text-change 33s infinite;
	animation: text-change 33s infinite;
}

@-webkit-keyframes text-change {
	0%{margin-top: 0px; opacity: 0;}/*texto1*/
	1%{margin-top: 0px; opacity: 1;}
	14%{margin-top: 0px; opacity: 1;}
	15%{margin-top: 0px; opacity: 0;}
	16%{margin-top: -55px; opacity: 0;}/*texto2*/
	17%{margin-top: -55px; opacity: 1;}
	33%{margin-top: -55px; opacity: 1;}
	34%{margin-top: -55px; opacity: 0;}
	35%{margin-top: -110px; opacity: 0;}/*texto3*/
	36%{margin-top: -110px; opacity: 1;}
	53%{margin-top: -110px; opacity: 1;}
	54%{margin-top: -110px; opacity: 0;}
	55%{margin-top: -165px; opacity:0;}/*texto4*/
	56%{margin-top: -165px; opacity:1;}
	68%{margin-top: -165px; opacity:1;}
	69%{margin-top: -165px; opacity:0;}
	70%{margin-top: -220px; opacity:0;}/*texto5*/
	71%{margin-top: -220px; opacity:1;}
	80%{margin-top: -220px; opacity:1;}
	81%{margin-top: -220px; opacity:0;}
	82%{margin-top: -275px; opacity:0;}/*texto6*/
	83%{margin-top: -275px; opacity:1;}
	99%{margin-top: -275px; opacity:1;}
	100%{margin-top: -275px; opacity:0;}
}

@keyframes text-change {
	0%{margin-top: 0px; opacity: 0;}/*texto1*/
	1%{margin-top: 0px; opacity: 1;}
	14%{margin-top: 0px; opacity: 1;}
	15%{margin-top: 0px; opacity: 0;}
	16%{margin-top: -55px; opacity: 0;}/*texto2*/
	17%{margin-top: -55px; opacity: 1;}
	33%{margin-top: -55px; opacity: 1;}
	34%{margin-top: -55px; opacity: 0;}
	35%{margin-top: -110px; opacity: 0;}/*texto3*/
	36%{margin-top: -110px; opacity: 1;}
	53%{margin-top: -110px; opacity: 1;}
	54%{margin-top: -110px; opacity: 0;}
	55%{margin-top: -165px; opacity:0;}/*texto4*/
	56%{margin-top: -165px; opacity:1;}
	68%{margin-top: -165px; opacity:1;}
	69%{margin-top: -165px; opacity:0;}
	70%{margin-top: -220px; opacity:0;}/*texto5*/
	71%{margin-top: -220px; opacity:1;}
	80%{margin-top: -220px; opacity:1;}
	81%{margin-top: -220px; opacity:0;}
	82%{margin-top: -275px; opacity:0;}/*texto6*/
	83%{margin-top: -275px; opacity:1;}
	99%{margin-top: -275px; opacity:1;}
	100%{margin-top: -275px; opacity:0;}
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/*animaciones vr*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
}

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
	-webkit-animation-duration: 2s;
}





@media (max-width: 768px){
	.text-animate{
		height: 65px;
		width: 90%;
	}
}

@media (max-width: 480px){
	.text-animate{
		height: 74px;
		font-size: 0.9em;
	}

	@-webkit-keyframes text-change {
		0%{margin-top: 0px; opacity: 0;}/*texto1*/
		1%{margin-top: 0px; opacity: 1;}
		14%{margin-top: 0px; opacity: 1;}
		15%{margin-top: 0px; opacity: 0;}
		16%{margin-top: -55px; opacity: 0;}/*texto2*/
		17%{margin-top: -55px; opacity: 1;}
		33%{margin-top: -55px; opacity: 1;}
		34%{margin-top: -55px; opacity: 0;}
		35%{margin-top: -125px; opacity: 0;}/*texto3*/
		36%{margin-top: -125px; opacity: 1;}
		53%{margin-top: -125px; opacity: 1;}
		54%{margin-top: -125px; opacity: 0;}
		55%{margin-top: -195px; opacity:0;}/*texto4*/
		56%{margin-top: -195px; opacity:1;}
		68%{margin-top: -195px; opacity:1;}
		69%{margin-top: -195px; opacity:0;}
		70%{margin-top: -265px; opacity:0;}/*texto5*/
		71%{margin-top: -265px; opacity:1;}
		80%{margin-top: -265px; opacity:1;}
		81%{margin-top: -265px; opacity:0;}
		82%{margin-top: -335px; opacity:0;}/*texto6*/
		83%{margin-top: -335px; opacity:1;}
		99%{margin-top: -335px; opacity:1;}
		100%{margin-top: -335px; opacity:0;}
	}

	@keyframes text-change {
		0%{margin-top: 0px; opacity: 0;}/*texto1*/
		1%{margin-top: 0px; opacity: 1;}
		14%{margin-top: 0px; opacity: 1;}
		15%{margin-top: 0px; opacity: 0;}
		16%{margin-top: -55px; opacity: 0;}/*texto2*/
		17%{margin-top: -55px; opacity: 1;}
		33%{margin-top: -55px; opacity: 1;}
		34%{margin-top: -55px; opacity: 0;}
		35%{margin-top: -125px; opacity: 0;}/*texto3*/
		36%{margin-top: -125px; opacity: 1;}
		53%{margin-top: -125px; opacity: 1;}
		54%{margin-top: -125px; opacity: 0;}
		55%{margin-top: -195px; opacity:0;}/*texto4*/
		56%{margin-top: -195px; opacity:1;}
		68%{margin-top: -195px; opacity:1;}
		69%{margin-top: -195px; opacity:0;}
		70%{margin-top: -265px; opacity:0;}/*texto5*/
		71%{margin-top: -265px; opacity:1;}
		80%{margin-top: -265px; opacity:1;}
		81%{margin-top: -265px; opacity:0;}
		82%{margin-top: -335px; opacity:0;}/*texto6*/
		83%{margin-top: -335px; opacity:1;}
		99%{margin-top: -335px; opacity:1;}
		100%{margin-top: -335px; opacity:0;}
	}
}

@media (max-width: 320px){
	@keyframes text-change {
		0%{margin-top: -5px; opacity: 0;}/*texto1*/
		1%{margin-top: -5px; opacity: 1;}
		14%{margin-top: -5px; opacity: 1;}
		15%{margin-top: -5px; opacity: 0;}
		16%{margin-top: -77px; opacity: 0;}/*texto2*/
		17%{margin-top: -77px; opacity: 1;}
		33%{margin-top: -77px; opacity: 1;}
		34%{margin-top: -77px; opacity: 0;}
		35%{margin-top: -150px; opacity: 0;}/*texto3*/
		36%{margin-top: -150px; opacity: 1;}
		53%{margin-top: -150px; opacity: 1;}
		54%{margin-top: -150px; opacity: 0;}
		55%{margin-top: -220px; opacity:0;}/*texto4*/
		56%{margin-top: -220px; opacity:1;}
		68%{margin-top: -220px; opacity:1;}
		69%{margin-top: -220px; opacity:0;}
		70%{margin-top: -270px; opacity:0;}/*texto5*/
		71%{margin-top: -270px; opacity:1;}
		80%{margin-top: -270px; opacity:1;}
		81%{margin-top: -270px; opacity:0;}
		82%{margin-top: -365px; opacity:0;}/*texto6*/
		83%{margin-top: -365px; opacity:1;}
		99%{margin-top: -365px; opacity:1;}
		100%{margin-top: -365px; opacity:0;}
	}

	@-webkit-keyframes text-change {
		0%{margin-top: -5px; opacity: 0;}/*texto1*/
		1%{margin-top: -5px; opacity: 1;}
		14%{margin-top: -5px; opacity: 1;}
		15%{margin-top: -5px; opacity: 0;}
		16%{margin-top: -77px; opacity: 0;}/*texto2*/
		17%{margin-top: -77px; opacity: 1;}
		33%{margin-top: -77px; opacity: 1;}
		34%{margin-top: -77px; opacity: 0;}
		35%{margin-top: -150px; opacity: 0;}/*texto3*/
		36%{margin-top: -150px; opacity: 1;}
		53%{margin-top: -150px; opacity: 1;}
		54%{margin-top: -150px; opacity: 0;}
		55%{margin-top: -220px; opacity:0;}/*texto4*/
		56%{margin-top: -220px; opacity:1;}
		68%{margin-top: -220px; opacity:1;}
		69%{margin-top: -220px; opacity:0;}
		70%{margin-top: -270px; opacity:0;}/*texto5*/
		71%{margin-top: -270px; opacity:1;}
		80%{margin-top: -270px; opacity:1;}
		81%{margin-top: -270px; opacity:0;}
		82%{margin-top: -365px; opacity:0;}/*texto6*/
		83%{margin-top: -365px; opacity:1;}
		99%{margin-top: -365px; opacity:1;}
		100%{margin-top: -365px; opacity:0;}
	}
}
