@charset "UTF-8";
/*css file*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Oswald');

body{
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  width: auto;
  height: auto;
  flex-direction: column;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: white;
  font-size: 18px;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  background: url(../assets/imagenes/home_bg02.jpg) no-repeat;
  /*background-size: 100%;*/
}

header{
  margin-top: 25px !important;
  background-color: none !important;
}

main {
  flex: 1 0 auto;
}

section{
  margin-top: 13% !important;
  margin-bottom: 5% !important;
}

#arrow{
  margin-top: 62px;
  margin-bottom: 62px;
}

/*sección servicios del index*/
.service-blocks{
  width: 100%;
  overflow: hidden;
  height: 300px;
  margin-bottom: 0px;
}

.service{
  background-color: rgba(14, 173, 149, 0.5);
  float: left;
  cursor: pointer;
  transition: opacity .3s ease .2s;
}

/*ESTILO DE CONTACTO HTML*/
.contacto{
  margin: 35px 0px 0px 0px;
  background-color: white;
}

/*lado del formulario*/
.side-left{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mensaje{
  width: 100%;
  height: 200px;
  padding: 75px 20px 15px 300px;
}

.formulario_contacto{
  padding: 0px;
}

.input-field{
  margin-top: 0px;
  padding-left: 210px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 12px;
}

.formulario_contacto .input-field:nth-child(1){
  background-color: #0AFAD8;
}

.formulario_contacto .input-field:nth-child(2){
  background-color: #08BBA1;
}

.formulario_contacto .input-field:nth-child(3){
  background-color: #046E5F;
}

.formulario_contacto .input-field:nth-child(4){
  background-color: white;
}

.area-mensaje{
  color: #656565 !important;
}

.input-field textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #26a69a !important;
}

.input-field label{
  color: white;
  padding-left: 210px;
}

.input-field .btn{
  left: 0px !important;
}

input[type=text], input[type=email], input[type=tel]{
  border-bottom: 1px solid white;
  margin: 0px 0 0px 0px;
}

.envio_contacto{
  padding-bottom: 5px;
  padding-left: 210px;
}

/*lado de la info*/
.side-center{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.logo_contacto{
  height: 200px;
  background-color: #fefefe;
}

.info_contacto{
  height: 200px;
  background-color: #006E5F;
}

.redes_contacto{
  height: 200px;
  background-color: #00BBA0;
}

/*lado del mapa*/
.side_map{
  height: 600px;
  background-color: #006E5F;
}

/*PROYECTOS.HTML MAQUETACIÓN*/
.proyectos-container{
  margin-top: 25px;
}

.proyectos-selectores{
  cursor: pointer;
  font-size: 1em;
  color: #656565;
  margin-top: 25px;
}

.proyectos-selectores:hover{color: #0EAE96;}

.block-items{
  display: block;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.proyectos-items{
  box-sizing: border-box;
  display: block;
  float: left;
  height: 180px;
  padding: 0px !important;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.block-items a{
	display: block;
	position: relative;
  width: auto;
	height: 180px;
  padding: 0px;
}

.block-items a span{
	display: block;
	background: rgba(95, 250, 227, 0.3) !important;
	color: #656565;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	overflow: hidden;
	opacity: 0;
	text-align: center;
}

.block-items a:hover span{
  padding-top: 50px;
	height: 180px;
  width: 100%;
	opacity: 1;
  transition: all 0.3s ease-in-out;
}

.more{
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  color: #0EAE96;
  text-align: center;
  border-radius: 50%;
  margin: 10px auto 10px auto;
  line-height: 30px !important;
}

.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.tile:hover {

}

.scale-anm {
  transform: scale(1);
}

.tile img {
  /*max-width: 100%;
  width: 100%;*/
  /*height: auto;*/
  margin-bottom: 0px;
}

/**/

#logo_foot{
  margin-top: 30px;
}

footer{
  background-color: #046E5F;
  height: auto;
}

.footer-copyright{
  background-color: #069480;
  padding-top: 20px;
  padding-bottom: 0px;
  height: auto;
}

/*MENUS*/
/*menu idomas*/
#languages ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
}

#list-language {
  float: right;
  position: relative;
  top: 0px;
  margin-right: 3px;
  color: #656565;
}

#list-language a{
  display: block;
  color: #656565;
}

#list-language a:hover{
  color: #07ae96;
}

/*menu principal*/
.menu_burguer{
  font-size: 3.5em !important;
  color: #07ae96 !important;
  position: fixed !important;
}

.menu_oculto{
  width: 128px !important;
  left: auto;
  margin-left: auto;
  margin-right: auto;
}

/*icons*/
.side-nav li>a>i.material-icons{
  color: #07AE96 !important;
}

.icons_menu{
  width: 24px;
  height: 24px;
}

.icon-modify{
  line-height: 0px !important;
  margin-left: 17px !important;
}

.material-icons.md-18 {
  font-size: 1em;
  line-height: 0px;
}

.material-icons.md-54 {
  color: #07ae96;
  font-size: 3em;
  line-height: 0px;
}

.new{
  top: 280px;
  position: relative;
}

.side-nav .subheader{
  font-variant: italic !important;
  left: 0px !important;
  right: 0px !important;
}

.social{
  top: 280px;
  left: 85px;
  position: relative;
  padding: 0 0px !important;
  margin-left: 10px;
}

#fb{
  background: url(../assets/imagenes/facebook_icon.png) no-repeat;
  width: 30px;
  height: 30px;
  float: left;
}

#fb:hover{
  background: url(../assets/imagenes/facebook_hover.png) no-repeat;
}

#insta{
  background: url(../assets/imagenes/instagram_icon.png) no-repeat;
  width: 30px;
  height: 30px;
  float: left;
}

#insta:hover{
  background: url(../assets/imagenes/instagram_hover.png) no-repeat;
}

#you{
  background: url(../assets/imagenes/youtube_icon.png) no-repeat;
  width: 30px;
  height: 30px;
  float: left;
}

#you:hover{
  background: url(../assets/imagenes/youtube_hover.png) no-repeat;
}

/*redes footer*/
#fb_foot{
  background: url(../assets/imagenes/facebook_icon_white.png) no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 10px;
}

#you_foot{
  background: url(../assets/imagenes/youtube_icon_white.png) no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 10px;
}

#insta_foot{
  background: url(../assets/imagenes/instagram_icon_white.png) no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 10px;
}

/*TEXTOS*/
h1{
  font-size: 1em !important;
  margin: 0 0 0 0 !important;
  line-height: normal !important;
}

h2{
  font-family: 'Oswald', sans-serif !important;
  font-size: 1.4em;
  color: #656565;
  margin-left: auto;
  margin-right: auto;
}

h3{
  font-family: 'Oswald', sans-serif !important;
  font-size: 1em;
  color: #0eAE96;
  margin: 5px 0 5px 0;
}

h4{
  font-size: 0.9em;
  color: #0eAE96;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  font-style: italic;
}

/*HOVERS*/

/* Push */
@-ms-keyframes hvr-push {
  50% {
    -ms-transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
  }
}

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -ms-transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -ms-animation-name: hvr-push;
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -ms-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



@media (min-width: 900px){

}

@media (max-width: 900px){

}
