@charset "UTF-8";
/*css file*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Oswald');
body{
  color: #656565 !important;
}

.contacto{
  margin: 0px 0px 0px 0px;
  background-color: white;
}

.input-field{
  color: inherit !important;
  border-style: solid;
  border-color: #069480;
  border-radius: 10px;
}

textarea.materialize-textarea{
  color: #656565;
}

.input-field label{
  color: #069480;
  line-height: 0;
  margin: 5px 0px 0px 5px;
}

.input-field input[type=text]:focus + label {
  color: rgba(65,65,65,0.2);
}
.input-field input[type=email]:focus + label {
  color: rgba(65,65,65,0.2);
}
.input-field input[type=tel]:focus + label {
  color: rgba(65,65,65,0.2);
}

input[type=text], input[type=email], input[type=tel]{
  border-bottom: none;
  margin: 0px 0 0px 0px;
}

.envio_contacto{
  margin-top: 20px;
}
.redes{
  margin-left: 45%;
}
.logoinicio{
  background: url(../assets/imagenes/brumker_logo.png) center no-repeat;
  height: 100px;
  background-size: contain;
  width: 80%!important;
  

}
#fb{
  background: url(../assets/imagenes/facebook_icon.png) no-repeat;
  width: 30px;
  height: 30px;
}
#fb:hover{
  background: url(../assets/imagenes/facebook_hover.png) no-repeat;
}
#insta{
  background: url(../assets/imagenes/instagram_icon.png) no-repeat;
  width: 30px;
  height: 30px;
}
#insta:hover{
  background: url(../assets/imagenes/instagram_hover.png) no-repeat;
}
#you{
  background: url(../assets/imagenes/youtube_icon.png) no-repeat;
  width: 30px;
  height: 30px;
}
#you:hover{
  background: url(../assets/imagenes/youtube_hover.png) no-repeat;
}
@media (max-width:1280px){

}
@media (max-width:1024px){

}
@media (max-width:992px){

}
@media (max-width:480px){
  .redes{
    margin-left: 35%;
  }
}
@media (max-width:320px){
  
}
