@charset "UTF-8";
/*css file*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Oswald');

section{
  margin-top: 13% !important;
  margin-bottom: 5% !important;
}

#arrow{
  margin-top: 62px;
  margin-bottom: 62px;
}

#nosotros{
  background-color: #046E5F;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 6%;
  padding-right: 6%;
}

/*sección servicios del index*/
.service-blocks{
  width: 100%;
  margin-bottom: 0px;
  /*white-space: nowrap;*/
}

.service{
  height: 700px;
  padding: 0px !important;
  float: left;
  overflow: hidden;
  white-space: normal;
}

.service h5{
  padding-top: 100%;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5);
}

.service p{
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
}

.service div a .material-icons{
  line-height: 2;
  padding-top: 5px;
  text-shadow: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

.service:nth-child(1){
  background: url(../assets/imagenes/vr_img.jpg) center no-repeat;
  background-size: cover;
}

.service:nth-child(2){
  background: url(../assets/imagenes/ar_img.jpg) center no-repeat;
  background-size: cover;
}

.service:nth-child(3){
  background: url(../assets/imagenes/web_img.jpg) center no-repeat;
  background-size: cover;
}

.service:nth-child(4){
  background: url(../assets/imagenes/3d_img.jpg) center no-repeat;
  background-size: cover;
}

/*.service:hover p{
  display: block;
  opacity: 1;
  background-color: rgba(35, 58, 72, 0.3);
  transition-property: display, opacity,-webkit-transform;
  transition-property: transform, display, opacity;
  transition-property:transform, display, opacity,-webkit-transform;
  transition-duration: .45s;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(.5,0,.1,1);
  will-change: transform, display, opacity;
  z-index: 1;
}*/

/*.service a:hover span{
  padding-top: 15px;
	height: 180px;
  width: 100%;
	opacity: 1;
  transition: all 0.3s ease-in-out;
}*/

.bg2{
  background-color: rgba(41, 154, 255, 0.3);
}

.bg3{
  background-color: rgba(184, 79, 61, 0.3);
}

.bg4{
  background-color: rgba(225, 41, 41, 0.3);
}

/*responsive*/
@media only screen and (max-width: 1024px){
  #arrow{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .service{
    height: 400px;
  }

  .text_service{
    padding-top: 10%;
  }
}

@media only screen and (max-width: 768px){
  section{
    margin-top: 10% !important;
    margin-bottom: 5% !important;
  }

  #arrow{
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 600px){
  .service{
    height: 250px;
  }

  .service:nth-child(1){
    background-position: 0px -320px;
  }

  .service:nth-child(2){
    background-position: 0px -570px;
  }

  .service:nth-child(4){
    background-position: 0px -460px;
  }

  .text_service{
    padding-top: 3%;
  }
}
