@charset "UTF-8";
/*css file*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Oswald');

section{
  margin-top: 13% !important;
  margin-bottom: 5% !important;
}

#arrow{
  margin-top: 62px;
  margin-bottom: 62px;
}

.nosotros{
  background-color: #046E5F;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 6%;
  padding-right: 6%;
  height: auto;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
}

/*sección servicios del index*/
.service-blocks{
  width: 100%;
  margin-bottom: 0px;
}

.card{
  margin: 0 0;
  height: 700px;
  padding: 0px !important;
  float: left;
  overflow: hidden;
  border-radius: 0px;
}

.card-content span h5{
  padding-top: 25%;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5);
}

.card-reveal span h5{
  padding-top: 25%;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5);
}

.card-reveal p{
  position: relative;
  top: 100px;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  text-shadow: -2px 1px 15px rgba(0, 0, 0, 0.9);
}

.card-reveal a .material-icons{
  position: relative;
  top: 150px;
  line-height: 2;
  padding-top: 5px;
  text-shadow: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card:nth-child(1){
  background: url(../assets/imagenes/vr_img.jpg) center no-repeat;
  background-size: cover;
}

.card:nth-child(2){
  background: url(../assets/imagenes/ar_img.jpg) center no-repeat;
  background-size: cover;
}

.card:nth-child(3){
  background: url(../assets/imagenes/web_img.jpg) center no-repeat;
  background-size: cover;
}

.card:nth-child(4){
  background: url(../assets/imagenes/3d_img.jpg) center no-repeat;
  background-size: cover;
}

.card:nth-child(1) .card-reveal{
  background-color: rgba(35, 58, 72, 0.8) !important;
}

.card:nth-child(2) .card-reveal{
  background-color: rgba(41, 154, 255, 0.8) !important;
}

.card:nth-child(3) .card-reveal{
  background-color: rgba(14, 174, 150, 0.8) !important;
}

.card:nth-child(4) .card-reveal{
  background-color: rgba(184, 79, 61, 0.8) !important;
}

.btn-floating{
  background-color: white;
  color: #0EAE96;
}

.btn-floating:hover{
  color: white;
}

/*responsive*/
@media only screen and (max-width: 1024px){
  #arrow{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .card{
    height: 500px;
  }

  .card-content span h5{
    padding-top: 10%;
  }

  .card-reveal span h5{
    padding-top: 10%;
  }

  .card-reveal p{
    top: 15px;
  }

  .card-reveal a .material-icons{
    top: 20px;
  }

}

@media only screen and (max-width: 768px){
  section{
    margin-top: 10% !important;
    margin-bottom: 5% !important;
  }

  #arrow{
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .card{
    height: 400px;
  }

  .card-reveal p{
    top: 10px;
  }

  .card-reveal a .material-icons{
    top: 15px;
  }
}

@media only screen and (max-width: 600px){
  .card{
    height: 300px;
  }

  .card:nth-child(1){
    background-position: 0px -190px;
  }

  .card:nth-child(2){
    background-position: 0px -290px;
  }

  .card:nth-child(4){
    background-position: 0px -200px;
  }

  .card-content span h5{
    padding-top: 0;
  }

  .card-reveal span h5{
    padding-top: 0;
  }

  .card-reveal p{
    top: 0px;
  }

  .card-reveal a .material-icons{
    top: 0px;
  }
}

@media only screen and (max-width: 480px){
  .card{
    height: 300px;
  }

  .card:nth-child(1){
    background-position: 0px -120px;
  }

  .card:nth-child(2){
    background-position: 0px -150px;
  }

  .card:nth-child(4){
    background-position: 0px -50px;
  }

  .card-content span h5{
    font-size: 1.2em;
  }

  .card-reveal span h5{
    font-size: 1.2em;
  }

  .card-reveal p{
    font-size: 0.9em;
  }

  .card-reveal a .material-icons{
    top: 0px;
  }
}
