@charset "UTF-8";
/*css file*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Oswald');
.proyectos-selectores{
  cursor: pointer;
  font-size: 1em;
  color: #656565;
  margin-top: 25px;
}
.proyectos-selectores:hover{color: #0EAE96;}
.block-items{
  display: block;
  margin-bottom: 0px;
  box-sizing: border-box;
}
.proyectos-items{
  box-sizing: border-box;
  display: block;
  float: left;
  height: 180px;
  padding: 0px !important;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.block-items a{
	display: block;
	position: relative;
  width: auto;
	height: 180px;
  padding: 0px;
}
.block-items a span{
	display: block;
	background: rgba(35, 58, 72, 0.5) !important;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	overflow: hidden;
	opacity: 0;
	text-align: center;
}
.block-items a:hover span{
  padding-top: 15px;
	height: 180px;
  width: 100%;
	opacity: 1;
  transition: all 0.3s ease-in-out;
}
.more{
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  color: #0EAE96;
  text-align: center;
  border-radius: 50%;
  margin: 10px auto 10px auto;
  line-height: 30px !important;
}
.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.scale-anm {
  transform: scale(1);
}
.tile img {
  margin-bottom: 0px;
}
.img-orbe{
  background: url(../assets/imagenes/orbe_app.jpg) center no-repeat;
  background-size: cover;
}
.img-wawa{
  background: url(../assets/imagenes/wawa-web.jpg) center no-repeat;
  background-size: cover;
}
