@charset "UTF-8";
/*css file*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Oswald');

.vr-section{
  margin-top: 50px;
  color: #0EAE96;
}

.vr-section .row{
  margin-bottom: 0px;
}

.vr-section p{
  font-size: 1.3em !important;
  line-height: normal;
  margin-top: 3px;
}


.vr-section h1{
  font-size: 1.3em !important;
}

.sector{
  margin-top: 0px !important;
}
.sector div:nth-child(1){
  /*background-color: tomato;*/
}
.sector div:nth-child(2){
  /*background-color: lavender;*/
}
.sector div:nth-child(3){
  /*background-color: blue;*/
}
.sector div:nth-child(4){
  /*background-color: white;*/
}
