@charset "UTF-8";
/*css file*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Oswald');

article{
  margin-top: 50px;
  color: #0EAE96;
}

article .row{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

article p{
  font-size: 1.3em !important;
  line-height: normal;
  margin-top: 3px;
}

article h1{
  font-size: 1.3em !important;
}

.imgvr{
  height: 511px;
}

.sector-01{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #47BBAA;
  padding-top: 50px;
  padding-left: 50px;
  height: 440px;
  overflow: hidden;
}

.title{
  font-size: 2em;
}

.item-list{
  opacity: 0;
  display: flex;
  font-family: 'Oswald', sans-serif !important;
}

.item-list li{
  margin-left: 20px;
  margin-right: 20px;
}

.item-list li p{
  margin-top: 0px;
}

.icon-size{
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
}

#img-man{
  position: relative;
  top: -380px;
  left: -100px;
  opacity: 0;
}

#img-ach{
  position: relative;
  top: -70px;
  left: 100px;
  opacity: 0;
}

form{
  color: #656565;
}

.text{
  opacity: 0;
}

.sector-02{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #FAD449;
}

.sector-03{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #BB22BB;
}

.sector-04{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #E12929;
}
