@charset "UTF-8";
/*css file*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Oswald');
body.orbe{
  background: url(../assets/imagenes/orbefondo.jpg) no-repeat !important;
}
.orbelogo{
  height: 585px;
}
.row.img-orbe2{
  background: url(../assets/imagenes/orbe1.jpg) center no-repeat;
  background-size: cover;
  height: 600px;
  margin-bottom: 0px;
}
.row.img-orbe3{
  background: url(../assets/imagenes/orbe2.jpg) center no-repeat;
  background-position: right;
  background-size: cover;
  height: 500px;
  margin-bottom: 0px;
}
.wawa1{
  background: url(../assets/imagenes/wawa1.jpg) center no-repeat;
    background-position: center;
  height: 700px;
}
.wawa2{
  background: url(../assets/imagenes/pcwawa.jpg) center no-repeat;
  background-size: cover;
}
.wawa3{
  background: url(../assets/imagenes/wawa3.jpg) center no-repeat;
  background-size: cover;
  height: 500px;
}
.projecttext{
  font-family: 'Oswald', sans-serif !important;
  font-size: 1.2em;
  margin-top: 120px;
  margin-bottom: 10px;
}
.projecttext li{
  margin-bottom: 5px;
}
.projecttextbottom{
  margin-top: 450px;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif !important;
  width: 90%;
}
.projecttexttop{
  margin-top: 100px;
}
.arrow_project{
  margin-top: 80px;
}

@media only screen and (max-width: 1280px){

}
@media only screen and (max-width: 768px){
  .projecttext{
    margin-top: 20%;
 }
  .projecttextbottom{
    margin-top: 300px;
  }
}
@media only screen and (max-width: 480px){
  .img-orbe3{
    background: url(../assets/imagenes/orbe22.jpg);
    height: 600px;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #2d3043;
  }
  .wawa2{
    background: url(../assets/imagenes/pcwawa2.jpg);
    height: 500px;
    background-position: center bottom;
    background-size: contain;
    background-color: #e4e4e8;
    background-repeat: no-repeat;
  }
  .wawa3{
    background-color: #cceddb;
    background-image: none;
    height: 250px;
  }
  .projecttext{
    margin-top: 10%;
 }
  .projecttextbottom{
    margin-top: 360px;
  }
}
